/* Smartphones iPhone 4  any small screen*/

@media (min-width: 0px) and (max-width: 320px) {

    /* nav bar */
    #offcanvas {

        width: 180px;
    }

    /* nav bar */


    /* home */
    .bg-home h1 {
        font-size: 45px;
    }

    /* home */

    /* singers */
    #singers {
        width: 95%;
    }

    /* singers */


    /* contact */
    #contact span>span {
        margin-right: 5 px;
    }

    /* contact */



}

@media (min-width: 321px)and (max-width: 480px) {
    /* nav bar */

    #offcanvas {

        width: 200px;
    }

    /* nav bar */


    /* home */
    .bg-home h1 {
        font-size: 50px;
    }

    /* home */

    /* singers */
    #singers {
        width: 95%;
    }

    /* singers */


}

@media (min-width: 481px) and (max-width: 640px) {

    /* singers */
    #singers {
        width: 90% !important;
    }

    /* singers */
}


@media (min-width: 641px) and (max-width: 800px) {

    /* singers */
    #singers {
        width: 90%;
    }

    /* singers */

}



@media (min-width: 0px) and (max-width: 767px) {
    #contact h2+p{
        position: relative;
        left: 0px;
        width: 100%;
        }
        .contact-info{
            text-align: center;
        }
        #contact form{
            margin-top: 0px !important;
        }
}


@media (min-width: 801px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1280px) {}

/* Desktops and laptops ----------- */
@media (min-width: 1281px) and (max-width: 1800px) {}

@media (min-width:1801px)and (max-width: 2200px) {}